In [1]:
#coverting list characters to upper case
names=['karthik','jeeva','santhosh','yogesh']
for name in names:
    print(name.upper())

KARTHIK
JEEVA
SANTHOSH
YOGESH

In [2]:
#finding the length of characters in list
names=['karthik','jeeva','santhosh','yogesh']
for name in names:
    print(f"{names}->{len(name)} characters")

['karthik', 'jeeva', 'santhosh', 'yogesh']->7 characters
['karthik', 'jeeva', 'santhosh', 'yogesh']->5 characters
['karthik', 'jeeva', 'santhosh', 'yogesh']->8 characters
['karthik', 'jeeva', 'santhosh', 'yogesh']->6 characters

In [3]:
#adding new elements in list using index numbers
num_list=[10,20,30,40,50]
index=int(input("enter the values(index):"))
values=int(input("enter the key:"))
num_list.insert(index,values)
print("new list:",num_list)

enter the values(index): 2
enter the key: 2

new list: [10, 20, 2, 30, 40, 50]

In [4]:
#creating list and separate into odd and even numbers
numbers=list(range(1,101))
odd_numbers=[n for n in numbers if n%2!=0]
even_numbers=[n for n in numbers if n%2==0]
print("odd numbers:",odd_numbers)
print("even numbers:",even_numbers)

odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [5]:
#converting char to integer
list_char_num=['12','23','67','56','12','96']
for num in list_char_num:
    print(int(num))

12
23
67
56
12
96